.main-board{
  margin-top: 3rem;
}



  #game-board {
    background-color: rgb(125, 255, 141);
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
  }

  .snake {
    background-color: hsl(0, 100%, 50%);
    border: .25vmin solid black;
  }

  .food {
    background-color: hsl(117, 84%, 10%);
    border: .25vmin solid black;
  }